{:deps
 {world.convex/cvm
  {:deps/root  "module/cvm"
   :git/sha    "29299dc"
   :git/tag    "stable/2022-10-24"
   :git/url    "https://github.com/convex-dev/convex.cljc"}
  world.convex/net
  {:deps/root "module/net"
   :git/sha   "29299dc"
   :git/tag   "stable/2022-10-24"
   :git/url   "https://github.com/convex-dev/convex.cljc"}
  tonsky/humble-ui {:git/sha "d07ddd4c46e1def229180e4bb9e7509c5b7b8fc2"
                    :git/url "https://github.com/HumbleUI/HumbleUI"}}}
